@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "../src/Varibles.scss";
@import "../src/Mixin.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}